@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BlogModel
@{
    <form action="/Blog/Update/@Model.BlogID" method="post">
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" id="blogTitle" name="BlogTitle" value="@Model.BlogTitle">
        </div>
        <div class="mb-3">
            <label class="form-label">Author</label>
            <input type="text" class="form-control" id="blogAuthor" name="BlogAuthor" value="@Model.BlogAuthor">
        </div>
        <div class="mb-3">
            <label class="form-label">Content</label>
            <input type="text" class="form-control" id="blogContent" name="BlogContent" value="@Model.BlogContent">
        </div>
        <a href="/Blog" type="button" class="btn btn-secondary">Back To List</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}
